.todo-form{
    margin-bottom: 10px;
}

.todo-form label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.todo-form input{
    padding: 14px 22px;
    margin-right: 10px;
    width: 85%;
    transition: border-color 0.1s linear;
    border: 1px solid #CED4DA;
    outline: none;
}

.todo-form input:focus{
    border-color: #80BDFF;
}

.todo-form button{
    flex-grow: 1;
    color: white;
    font-weight: bold;
    background-color: #0069D9;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    transition: opacity 0.2s linear;
}

.todo-form button:hover{
    opacity: 0.7;
}

.todo-form div{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
